{% extends "base.html.twig" %}

{% block title %}
	Matrix - Add - Fournisseurs
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/dataTables.bootstrap4.min.css') }}">
	<link rel="stylesheet" href="{{asset('assets/css/fournisseur.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/tempusdominus.min.css') }} ">
{% endblock %}


{% block cental_content %}

	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Fournisseur</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="#">Dashboard</a>
							</li>
							<li class="breadcrumb-item active">Fournisseur</li>
							<li class="breadcrumb-item active">Nouveau Fournisseur</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<section class="content">

			<div class="container-fluid">

				<div class="container-fluid">
					<div
						class="row">
						<!-- left column -->
						<div
							class="col">
							<!-- general form elements -->
							<div class="card card-primary">
								<div class="card-header">
									<h3 class="card-title">
										Informations le fournisseur
									</h3>
								</div>
								{{ form_start(fournisseurForm) }}
								<div class="row">
									<div class="col-md-6">
										<div class="card-body">
											<div class="form-group">
												<label for="Nom">Nom</label>
												{{ form_widget(fournisseurForm.nom_fournisseur) }}
											</div>

											<div class="form-group">
												<label for="Prenom">Prenom</label>
												{{ form_widget(fournisseurForm.prenom_fournisseur) }}
											</div>

											<div class="form-group">
												<label for="Email">Email</label>
												{{ form_widget(fournisseurForm.email_fournisseur) }}
											</div>

											<div class="form-group">
												<label for="exampleInputFile">Sexe</label>
												<input type="text" class="form-control"  placeholder="Sexe" disabled>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="card-body">
										  <div class="form-group">
												<label for="Date">Etablissement</label>
											   <input type="text" class="form-control"  placeholder="Etablissement Coming soon......." disabled>
											</div>

											<div class="form-group">
												<label for="Telephone">Telephone</label>
										   	{{ form_widget(fournisseurForm.phone_fournisseur) }}
											</div>

											<div class="form-group">
												<label for="Adresse">Adresse</label>
												{{ form_widget(fournisseurForm.adresse_fournisseur) }}
											</div>

											<label for="Photo">Photo</label>
											<div class="custom-file">
											 <input type="file" class="form-control"  placeholder="Photo Coming soon......." disabled>
												<label class="custom-file-label" for="customFile">Choisir un fichier</label>
											</div>
										</div>
									</div>
								</div>

								<div class="card-footer text-right">
							     	{{ form_widget(fournisseurForm.submit) }}
								</div>

								 {{ form_rest(fournisseurForm) }}

								{{ form_end(fournisseurForm) }}

							</div>
							<!-- /.card -->
						</div>

					</div>
					<!-- /.row -->

				</div>

			</section>
			<!-- /.content -->

		</div>

		{% block javascripts %}

			<script src=" {{asset('assets/js/custom_input.min.js')}} "></script>
			<script src=" {{asset('assets/js/moment.min.js')}}"></script>
			<script src=" {{asset('assets/js/tempusdominus.min.js')}}"></script>

			{% for message in app.flashes('success') %}
				<script type="text/javascript">
					$(function () {
						toastr.success("{{ message }}" );
					});
				</script>
	     	{% endfor %}

			<script type="text/javascript">
				$(function () {
					bsCustomFileInput.init();
			        $('#dateNaissance').datetimepicker({ format: 'DD/MM/yyyy'  });
				});
			</script>

		{% endblock %}

	{% endblock %}
