{% extends "base.html.twig" %}

{% block title %}
	Matrix - Fournisseur
{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/dataTables.bootstrap4.min.css') }}">
	<link rel="stylesheet" href="{{asset('assets/css/utilisateur.css') }}">
{% endblock %}


{% block cental_content %}

	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Fournisseur</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="#">Dashboard</a>
							</li>
							<li class="breadcrumb-item active">Fournisseur</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<section class="content">

			<div class="container-fluid">

				<div class="row">

					<div class="col-12">
						<div class="card">
							<div class="card-header d-flex justify-content-between">
								<input type="search" id="fournisseursearcher" class="form-control col-6" placeholder="Trouver un fournisseur ... ">
								<div class="col-6 text-right">
									<a href=" {{ path('add_fournisseur') }} " class="btn btn-primary ">
										<i class="fa fa-plus" aria-hidden="true"></i>
										Nouveau Fournisseur
									</a>
								</div>
							</div>

							<div class="card-body">
								<div class="table-responsive">
									<table id="fournisseurtable" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>Nom fournisseur</th>
												<th>Prenom fournisseur</th>
												<th>Telephones</th>
												<th>Emails</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>

											{% for fournisseur in allFournisseurs %}
												<tr>
													<td>
														{{ fournisseur.nomFournisseur }}
													</td>
													<td>{{ fournisseur.prenomFournisseur }}
													</td>
													<td>{{ fournisseur.phoneFournisseur }}
													</td>
													<td>
														{{ fournisseur.emailFournisseur }}
													</td>
													<td>
													<div class="dropdown">
														<a class="btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
															Action
														</a>
														<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
															<li><a class="dropdown-item" href=" {{path('edit_fournisseur', {'id': fournisseur.id})}} ">Editer</a></li>
															<li><hr class="dropdown-divider"></li>
															<li><a  href=" #  " class="dropdown-item" href="#">Voir profile</a></li>
														</ul>
													</div>

													</td>
												</tr>

											{% else %}

												<tr>
													<td colspan="5" class="text-center">
														Pas de fournisseur pour le moment
													</td>
												</tr>

											{% endfor %}

										</tbody>
									</table>

								</div>

							</div>
							<!-- /.card-body -->
						</div>
					</div>

				</div>

			</div>

		</section>
		<!-- /.content -->

	</div>
	<!-- /.content-wrapper -->


	{% block javascripts %}
		<script src="{{ asset('assets/js/jquery.dataTables.min.js') }} "></script>
		<script src="{{ asset('assets/js/dataTables.bootstrap4.min.js') }}"></script>

		{% for message in app.flashes('success') %}
			<script type="text/javascript">
				$(function () {
					toastr.success("{{ message }}");
				});
			</script>
		{% endfor %}

		<script type="text/javascript">
				var searchField = $('#fournisseursearcher')
				var fournisseurTable = $('#fournisseurtable').DataTable({
						"paging": true,
						"lengthChange": false,
						"searching": true,
						"ordering": true,
						"info": true,
						"autoWidth": false,
						"responsive": true,
						language: {
						url: "{{ asset('assets/tools/datatable_fr.json') }}"
				}
			});

			searchField.keyup(function () {
						console.log(fournisseurTable);
						fournisseurTable.search(searchField.val()).draw();
			})

		</script>



	{% endblock %}


{% endblock %}
